<% unless @orderdetails.empty? %>

    <ul class="th">
      <li><%= I18n.t 'views.orderdetails.index.order_id' %></li>
      <li><%= I18n.t 'views.orderdetails.index.product' %></li>
      <li><%= I18n.t 'views.orderdetails.index.number' %></li>
      <li><%= I18n.t 'views.orderdetails.index.price' %></li>
      <li><%= I18n.t 'views.orderdetails.index.discount' %></li>
      <li></li>
      <li></li>
    </ul>

  <% @orderdetails.each do |orderdetail| %>
    <ul>
      <li><%= orderdetail.order_id %></li>
      <li><%= Product.find(orderdetail.product_id).name %> </li>
      <li><%= orderdetail.number %></li>
      <li><%= orderdetail.price %></li>
      <li><%= orderdetail.discount %></li>
      <li><%= link_to "Delete", {:controller=>"orders", :action=>"delete",:id=>orderdetail}, :class=>"delete"%></li>
      <li>Edit</li>
    </ul>
  <% end %>

  <nav class="pagination" hidden="true" />

<% end %>


