<div class="d-table">

<ul class="th">
  <li><%= I18n.t 'views.orderdetails.index.order_id' %></li>
  <li><%= I18n.t 'views.orderdetails.index.product' %></li>
  <li><%= I18n.t 'views.orderdetails.index.number' %></li>
  <li><%= I18n.t 'views.orderdetails.index.price' %></li>
  <li><%= I18n.t 'views.orderdetails.index.discount' %></li>
  <li></li>
  <li></li>
</ul>

<% unless @orderdetails.empty? %>

  <% @orderdetails.each do |orderdetail| %>
    <ul>
      <li><%= orderdetail.order_id %></li>
      <li><%= Product.find(orderdetail.product_id).name %> </li>
      <li><%= orderdetail.number %></li>
      <li><%= orderdetail.price %></li>
      <li><%= orderdetail.discount %></li>
      <li><%= link_to I18n.t('views.delete'), {:controller=>"orders", :action=>"delete",:id=>orderdetail}, :class=>"delete"%></li>
      <li><%= link_to I18n.t('views.edit'), "#" %></li>
    </ul>
  <% end %>

<% end %>

</div>

