<h1><%= I18n.t 'views.orderdetails.index.title' %></h1>

<div id="orderdetail_list">
  <%= render :partial => 'list'%>
</div>

<div class="padding" ></div>

<div id="orderdetail_sum">
  <label><%= @summary %></label>
</div>

<div class="padding" ></div>

<div>
  <div class="add_new" id="add_new_orderdetail"><%= I18n.t 'views.orderdetails.index.add_new' %></div>
</div>

<div class="padding" ></div>

<div id="create_new_orderdetail" hidden="true">
<%= form_for :orderdetail, :html=>{:id=>"create-orderdetail"} do |f| %>
<ul>
<li> <%= f.hidden_field :order_id, :value => @order_id %> <label><%=@order_id%></label> </li>
<li> <%= f.select :product_id, @products %> </li>
<li> <%= f.text_field :number %> </li>
<li> <%= f.text_field :price %> </li>
<li> <%= f.text_field :discount, :value => 0 %> </li>
<li> <%= submit_tag I18n.t 'views.submit', class: "closeWin" %> </li>
<li> <%= link_to I18n.t 'views.cancel', "#", class: "closeWin" %> </li>
</ul>
<% end %>
</div>

