<% unless @productions.empty? %>

  <table id="production_list" >
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Sum</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @productions.each do |production| %>
    <tr>
      <td><%= production.when %></td>
      <td><%= Worker.find(production.who_id).name %></td>
      <td><%= Product.find(production.what_id).name %></td>
      <td><%= production.number %></td>
      <td><%= link_to "Delete", {:controller=>"productions", :action=>"delete",:id=>production}, :class=>"delete"%></td>
      <td>Edit</td>
    </tr>
  <% end %>

  </table>

<% end %>


