<ul class="th">
  <li><%= I18n.t 'views.productions.index.when' %></li>
  <li><%= I18n.t 'views.productions.index.who' %></li>
  <li><%= I18n.t 'views.productions.index.what' %></li>
  <li><%= I18n.t 'views.productions.index.number' %></li>
  <li></li>
  <li></li>
</ul>

<% unless @productions.empty? %>

  <% @productions.each do |production| %>
    <ul>
      <li><%= production.when %></li>
      <li><%= Worker.find(production.who_id).name %></li>
      <li><%= Product.find(production.what_id).name %></li>
      <li><%= production.number %></li>
      <li><%= link_to "Delete", {:controller=>"productions", :action=>"delete",:id=>production}, :class=>"delete"%></li>
      <li>Edit</li>
    </ul>
  <% end %>

<% end %>

<%= paginate @productions %>


