<h1><%= I18n.t 'views.productions.index.title' %></h1>

<div id="production_list">
  <%= render :partial => 'list'%>
</div>

<div class="padding" ></div>

<div id="production_sum">
  <label><%= @summary %></label>
</div>

<div class="padding" ></div>

<div>
  <div class="add_new" id="add_new_production"><%= I18n.t 'views.productions.index.add_new' %></div>
</div>

<div class="padding" ></div>

<div id="create_new_production" hidden="true">
<%= form_for :production, :html=>{:id=>"create-production"} do |f| %>
<ul>
<li> <%= f.date_field :when, :value => Date.today %> </li>
<li> <%= f.select :who_id, @workers %> </li>
<li> <%= f.select :what_id, @products %> </li>
<li> <%= f.text_field :number %> </li>
<li> <%= submit_tag I18n.t('views.submit'), class: "closeWin" %> </li>
<li> <%= link_to I18n.t('views.cancel'), "#", class: "closeWin" %> </li>
</ul>
<% end %>
</div>

