<h1>Listing productions</h1>

<div id="create_new_production">
<%= form_for :production, :html=>{:id=>"create-production"} do |f| %>
<label> 在 <%= f.date_field :when %> </label>
<label> 这一天，工人 <%= f.select :who_id, @workers %> </label>
<label> 包了 <%= f.text_field :number %> </label>
<label> 斤 <%= f.select :what_id, @products %> </label>
<label> 。 </label>
<%= submit_tag "submit" %>
<% end %>
</div>

<div id="production_list">
<%= render :partial => 'list'%>
</div>
