<div id="profit_trend">
<ul class="th" >
  <li><%= I18n.t 'views.welcome.index.date' %></li>
  <li><%= I18n.t 'views.welcome.index.amount' %></li>
  <li><%= I18n.t 'views.welcome.index.profit' %></li>
  <li><%= I18n.t 'views.welcome.index.profit_rate' %></li>
</ul>
<% @profits.each do |pt| %>
<ul>
  <li><%= pt.when %></li>
  <li><%= pt.amount %></li>
  <li><%= pt.profit %></li>
  <li><%= (pt.profit/pt.amount*100).round(2).to_s + " %" %></li>
</ul>
<%end%>
<ul class="th" >
  <li><%= I18n.t 'views.welcome.index.summary' %></li>
  <li><%= @amount_total %></li>
  <li><%= @profit_total %></li>
  <li><%= (@profit_total/@amount_total*100).round(2).to_s + " %" %></li>
</ul>
<%= paginate @profits %>
</div>
