<h1><%= I18n.t 'views.welcome.index.title' %></h1>
<p></p>

<div class="order">

  <%= render :partial => 'order_form'%>

  <div class="padding" ></div>

  <div><%= @lastorder %></div>

  <div class="padding" ></div>

  <%= render :partial => 'items/list'%>

</div>

<div class="h-padding" ></div>

<div class="history">

  <ul class="th">
    <li><%= I18n.t('views.welcome.index.history') %></li>
  </ul>
  <div id="cos_url" hidden="true">
    <%= url_for :controller => "customers", :action => "details", :tel=>"_tel_ph_", :format => "json" %>
  </div>
  <%= render :partial => 'orders/cos'%>

</div>

<div class="h-padding" ></div>

<div class="statistics">

  <%= render :partial => 'profit_form'%>

  <div class="padding" ></div>

  <div><%= @iocomp %></div>

  <div class="padding" ></div>

  <%= render :partial => 'storage_form'%>

  <div class="padding" ></div>

  <%= render :partial => 'statistic_form'%>

</div>
