<h1><%= I18n.t 'views.welcome.index.title' %></h1>
<p></p>

<div class="input">

  <%= render :partial => 'order_form'%>

  <div class="padding" ></div>

  <div><%= @lastorder %></div>

  <div class="padding" ></div>

  <%= render :partial => 'items/list'%>

</div>

<div class="h-padding" ></div>

<div class="information">

  <%= render :partial => 'profit_form'%>

  <div class="padding" ></div>

  <div><%= @iocomp %></div>

  <div class="padding" ></div>

  <%= render :partial => 'storage_form'%>

</div>

<div class="h-padding" ></div>

<div class="debug">

  <%= render :partial => 'debug'%>

</div>

