<h1><%= I18n.t 'views.welcome.index.title' %></h1>
<p></p>

<div id="profit_trend">
<ul class="th" >
  <li><%= I18n.t 'views.welcome.index.date' %></li>
  <li><%= I18n.t 'views.welcome.index.amount' %></li>
  <li><%= I18n.t 'views.welcome.index.profit' %></li>
  <li><%= I18n.t 'views.welcome.index.profit_rate' %></li>
</ul>
<% @profits.each do |pt| %>
<ul>
  <li><%= pt.when %></li>
  <li><%= pt.amount %></li>
  <li><%= pt.profit %></li>
  <li><%= (pt.profit/pt.amount*100).round(2).to_s + " %" %></li>
</ul>
<%end%>
<ul class="th" >
  <li><%= I18n.t 'views.welcome.index.summary' %></li>
  <li><%= @amount_total %></li>
  <li><%= @profit_total %></li>
  <li><%= (@profit_total/@amount_total*100).round(2).to_s + " %" %></li>
</ul>
</div>

<div id="locale_debug" hidden="true">
<p>
<label>available locale --- <%= I18n.available_locales %></label>
</p>
<p>
<label>default locale --- <%= I18n.default_locale %></label>
</p>
<p>
<label>target locale --- <%= params[:locale] %></label>
</p>
<p>
<label>decision --- <%= params[:locale] && (I18n.available_locales.include? params[:locale].to_sym) %></label>
</p>
<p>
<label>current locale --- <%= I18n.locale %></label>
</p>
</div>

<div hidden="true">
<label id="txtPosition"> where am i? </label>
</div>
