<div class="d-table">

<ul class="th">
  <li><%= I18n.t 'views.customers.index.when' %></li>
  <li><%= I18n.t 'views.customers.index.nick' %></li>
  <li><%= I18n.t 'views.customers.index.tel' %></li>
  <li><%= I18n.t 'views.customers.index.email' %></li>
  <li><%= I18n.t 'views.customers.index.wechat' %></li>
  <li><%= I18n.t 'views.customers.index.weibo' %></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<% unless @customers.empty? %>

  <% @customers.each do |customer| %>
    <ul>
      <li><%= customer.when_joined %></li>
      <li><%= customer.nick.empty? ? "(null)" : customer.nick %></li>
      <li><%= customer.tel %></li>
      <li><%= customer.email.empty? ? "(null)" : customer.email %></li>
      <li><%= customer.wechat.empty? ? "(null)" : customer.wechat %></li>
      <li><%= customer.weibo.empty? ? "(null)" : customer.weibo %></li>
      <li><%= link_to I18n.t('views.customers.index.orders'), {:controller=>"orders", :action=>"index",:id=>customer}%></li>
      <li><%= link_to I18n.t('views.delete'), {:controller=>"customers", :action=>"delete",:id=>customer}, :class=>"delete"%></li>
      <li><%= link_to I18n.t('views.edit'), "#" %></li>
    </ul>
  <% end %>

<% end %>

</div>

<%= paginate @customers %>


