<% unless @customers.empty? %>

  <table id="customer_list" >
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Sum</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.when_joined %></td>
      <td><%= customer.nick %></td>
      <td><%= customer.address %></td>
      <td><%= customer.tel %></td>
      <td><%= customer.email %></td>
      <td><%= customer.wechat %></td>
      <td><%= customer.weibo %></td>
      <td><%= link_to "Delete", {:controller=>"customers", :action=>"delete",:id=>customer}, :class=>"delete"%></td>
      <td>Edit</td>
    </tr>
  <% end %>

  </table>

<% end %>


