<% unless @customers.empty? %>

    <ul class="th">
      <li><%= I18n.t 'views.customers.index.when' %></li>
      <li><%= I18n.t 'views.customers.index.nick' %></li>
      <li><%= I18n.t 'views.customers.index.address' %></li>
      <li><%= I18n.t 'views.customers.index.tel' %></li>
      <li><%= I18n.t 'views.customers.index.email' %></li>
      <li><%= I18n.t 'views.customers.index.wechat' %></li>
      <li><%= I18n.t 'views.customers.index.weibo' %></li>
      <li></li>
      <li></li>
    </ul>

  <% @customers.each do |customer| %>
    <ul>
      <li><%= customer.when_joined %></li>
      <li><%= customer.nick %></li>
      <li><%= customer.address %></li>
      <li><%= customer.tel %></li>
      <li><%= customer.email %></li>
      <li><%= customer.wechat %></li>
      <li><%= customer.weibo %></li>
      <li><%= link_to "Delete", {:controller=>"customers", :action=>"delete",:id=>customer}, :class=>"delete"%></li>
      <li>Edit</li>
    </ul>
  <% end %>

  <%= paginate @customers %>

<% end %>


