<h1>客户</h1>

<div id="customer_list">
  <%= render :partial => 'list'%>
</div>

<div class="padding" ></div>

<div id="customer_sum">
  <label><%=@summary%></label>
</div>

<div class="padding" ></div>

<div>
  <div class="add_new" id="add_new_customer"><%= I18n.t 'views.customers.index.add_new' %></div>
</div>

<div class="padding" ></div>

<div id="create_new_customer" hidden="true">
<%= form_for :customer, :html=>{:id=>"create-customer"} do |f| %>
<ul>
<li> <%= f.date_field :when_joined, :value => Date.today %> </li>
<li> <%= f.text_field :nick %> </li>
<li> <%= f.text_field :address %> </li>
<li> <%= f.text_field :tel %> </li>
<li> <%= f.text_field :email %> </li>
<li> <%= f.text_field :wechat %> </li>
<li> <%= f.text_field :weibo %> </li>
<li> <%= submit_tag I18n.t 'views.submit', class: "closeWin" %> </li>
<li> <%= link_to I18n.t 'views.cancel', "#", class: "closeWin" %> </li>
</ul>
<% end %>
</div>

