<label id="no_address" hidden="true">
  <%= I18n.t 'views.orders.summary_by_customer.no_address' %>
</label>
<label id="no_preference" hidden="true">
  <%= I18n.t 'views.orders.summary_by_customer.no_preference' %>
</label>
<ul id="preference_table_template" hidden="true">
  <div>
    <ul class="th">
      <li><%= I18n.t 'views.orders.summary_by_customer.preferences.product' %></li>
      <li><%= I18n.t 'views.orders.summary_by_customer.preferences.historical' %></li>
      <li><%= I18n.t 'views.orders.summary_by_customer.preferences.last_order' %></li>
      <li><%= I18n.t 'views.welcome.index.left' %></li>
    </ul>
    <% @products.each do |p| %>
    <ul>
      <li><%= p[0] %></li>
      <li class="preferences_historical_<%= p[1] %>"> - </li>
      <li class="preferences_last_order_<%= p[1] %>"> - </li>
      <li class="product_storage_<%= p[1] %>"> - </li>
    </ul>
    <%end%>
  </div>
</ul>

<ul class="grey_tab" id="address_list">
  <%= I18n.t 'views.orders.summary_by_customer.no_address' %>
</ul>
<ul class="grey_tab" id="preference_table">
  <%= I18n.t 'views.orders.summary_by_customer.no_preference' %>
</ul>
