<div class="d-table">

<ul class="th">
  <li><%= I18n.t 'views.orders.index.when' %></li>
  <li><%= I18n.t 'views.orders.index.who' %></li>
  <li><%= I18n.t 'views.orders.index.sum' %></li>
  <li></li>
  <li></li>
</ul>

<% unless @orders.empty? %>

  <% @orders.each do |order| %>
    <ul>
      <li><%= order.when %></li>
      <li><%= Customer.find(order.who_id).address %> (<%= Customer.find(order.who_id).tel %>) </li>
      <li><%= order.sum %></li>
      <li><%= link_to I18n.t('views.details'), {:controller=>"orderdetails", :action=>"index",:id=>order} %></li>
      <li><%= link_to I18n.t('views.delete'), {:controller=>"orders", :action=>"delete",:id=>order}, :class=>"delete"%></li>
      <li><%= link_to I18n.t('views.edit'), "#" %></li>
    </ul>
  <% end %>

<% end %>

</div>

<%= paginate @orders %>


