<h1><%= I18n.t 'views.orders.index.title' %></h1>

<div id="order_list">
  <%= render :partial => 'list'%>
</div>

<div class="padding" ></div>

<div id="order_sum">
  <label><%= @summary %></label>
</div>

<div class="padding" ></div>

<div>
  <div class="add_new" id="add_new_order"><%= I18n.t 'views.orders.index.add_new' %></div>
</div>

<div class="padding" ></div>

<div id="create_new_order" hidden="true">
<%= form_for :order, :html=>{:id=>"create-order"} do |f| %>
<ul>
<li> <%= f.date_field :when, :value => Date.today %> </li>
<li> <%= f.select :who_id, @customers %> </li>
<li> <%= f.text_field :sum %> </li>
<li> <%= submit_tag I18n.t 'views.submit', class: "closeWin" %> </li>
<li> <%= link_to I18n.t 'views.cancel', "#", class: "closeWin" %> </li>
</ul>
<% end %>
</div>

