<div class="d-table">

<ul class="th">
  <li><%= I18n.t 'views.materials.index.when' %></li>
  <li><%= I18n.t 'views.materials.index.what' %></li>
  <li><%= I18n.t 'views.materials.index.sum' %></li>
  <li><%= I18n.t 'views.materials.index.price' %></li>
  <li></li>
  <li></li>
</ul>

<% unless @materials.empty? %>

  <% @materials.each do |material| %>
    <ul>
      <li><%= material.when %></li>
      <li><%= material.what %></li>
      <li><%= material.sum %></li>
      <li><%= material.price %></li>
      <li><%= link_to I18n.t('views.delete'), {:controller=>"materials", :action=>"delete",:id=>material}, :class=>"delete"%></li>
      <li><%= link_to I18n.t('views.edit'), "#" %></li>
    </ul>
  <% end %>

<% end %>

</div>

<%= paginate @materials %>


