<div id="debug_section"<%if Rails.env=="production" %> hidden="true"<%end%>>
<div>
  <%= I18n.t 'views.debug.mode_reminder' %>
</div>
<div id="locale_debug" hidden="true">
  <p>
    <label>available locale --- <%= I18n.available_locales %></label>
  </p>
  <p>
    <label>default locale --- <%= I18n.default_locale %></label>
  </p>
  <p>
    <label>target locale --- <%= params[:locale] %></label>
  </p>
  <p>
    <label>decision --- <%= params[:locale] && (I18n.available_locales.include? params[:locale].to_sym) %></label>
  </p>
  <p>
    <label>current locale --- <%= I18n.locale %></label>
  </p>
</div>

<div id="get_position_sample" hidden="true">
  <label id="txtPosition"> where am i? </label>
</div>
</div>
