<!DOCTYPE html>
<html>
<head>
  <title>DBiz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <%= link_to '主页', controller: 'welcome' %>
  <%= link_to '进货', controller: 'materials' %>
  <%= link_to '生产', controller: 'productions' %>
  <%= link_to '订单', controller: 'orders' %>
  <%= link_to '客户', controller: 'customers' %>
</div>

<%= javascript_include_tag params[:controller] %>
<%= stylesheet_link_tag params[:controller] %>

<%= yield %>

</body>
</html>
